/* abouthome */

.aboutHome{
    margin-top: 30px;
    height: fit-content;
    width: 100%;
    padding: 250px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.466),rgba(0, 0, 0, 0.5)),url("../assets/images/sw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.works{
    padding: 50px 20px;
}
.add{
    border: none !important;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.icon{
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    background-color: #d22e2e;
    color: #333;
    border-radius: 50%;
}
.heading{
  padding: 10px 0px;
}
.detail{
    padding-bottom: 10px;
}

.add:hover .icon{
    background-color: #333;
    color:#d22e2e;
}

@media only screen and (max-width: 600px){
    .aboutHome{
        padding: 300px 0px;
    }
    .expimg{
        height: 150px;
    }
    .experience{
        padding: 50px;
    }
}