.productHome{
    margin-top: 30px;
    height: fit-content;
    width: 100%;
    padding: 250px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.466),rgba(0, 0, 0, 0.5)),url("../assets/images/sw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-top: 1px solid black;
}

/* products */
.owl-carousel{
    padding: 0px 50px;
}
.owl-carousel .card{
    width: fit-content !important;
    padding: 5px 50px;
}

@media only screen and (max-width: 600px){
    .productHome{
        padding: 200px 60px;
    }

}